[user]
	name = Mark Silvis
	email = marksilvis@pitt.edu
[push]
	default = simple
[color]
	ui = true
[core]
	excludesfile = /Users/mark/.gitignore
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credential]
	helper = osxkeychain
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.5.5/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[help]
    autocorrect = 20
[alias]
	co = checkout
	br = branch
	cm = commit
    st = status
    last = log -1 HEAD
