[user]
	name = Mark Silvis
	email = markasilvis@gmail.com
[color]
  ui = auto
[core]
  excludesfile = /Users/mark/.gitignore_global
  whitespace = cr-at-eol
  autocrlf = false
[push]
  default = simple
[alias]
  br = branch
  cm = commit
  co = checkout
  st = status
[pull]
  ff = only
  rebase = true
[help]
  autocorrect = 20
[rerere]
  enabled = true
