"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "autocomplete-elixir"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "ca751841-69a1-6fda-c8bb-811f2c8b4940"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  latex:
    enableSynctex: false
    opener: "pdf-view"
  minimap:
    plugins:
      codeglance: true
      codeglanceDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
  nuclide:
    "nuclide-home":
      showHome: false
  "package-sync":
    forceOverwrite: true
  welcome:
    showOnStartup: false
