packages: [
  "asciidoc-preview"
  "atom-material-syntax"
  "atom-material-ui"
  "autocomplete-elixir"
  "autocomplete-erlang"
  "file-icons"
  "github-atom-light-syntax"
  "language-asciidoc"
  "language-elixir"
  "language-erlang"
  "language-latex"
  "language-swift"
  "latex"
  "MagicPython"
  "markdown-writer"
  "minimap"
  "minimap-codeglance"
  "minimap-cursorline"
  "octocat-syntax"
  "package-sync"
  "pdf-view"
  "pigments"
]
